// /* 改变主题色变量 */
// $--border-color-base: #e6e6e6;
// $--border-color-light: #d2d2d2;

// $--table-border-color: #ececec;

// /* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";


#app {
  // elememt-ui
  .el-header {
    padding: 0;
  }

  .el-aside {
    height: calc(100vh - 50px);

    .el-menu {
      height: 100%;
    }
  }

  .el-main {
    overflow-y: auto;
    height: calc(100vh - 50px);
    padding: 36px 56px 60px;
  }

  .el-menu-item,
  .el-submenu__title {
    height: 46px;
    line-height: 46px;

    &:hover,
    &.is-active {
      background: #1d262a !important;
    }
  }

  .layout-aside > .el-menu-item.is-active,
  .el-submenu.is-active .el-submenu__title {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      content: '';
      background: #3c8dbc;
    }
  }

  .el-submenu .el-menu {
    > .el-menu-item {
      padding-left: 49px !important;
    }
  }

  .el-radio {
    margin-right: 20px;
  }

  // quill富文本编辑器
  .ql-toolbar {
    display: flex;
    align-items: center;
    line-height: 1.8;
  }

  .ql-container {
    font-size: 14px;

    + div {
      height: 0;
    }
  }
  
  .el-table th.gutter {
    display: table-cell !important;
  }

  .el-table colgroup.gutter {
    display: table-cell !important;
  }

  .el-table thead th {
    font-weight: normal;
    color: #333;
    background-color: #f5f5f5;
  }

  .el-table .cell {
    // overflow: hidden;
    padding: 0 12px;
    white-space: nowrap; 
    // text-overflow: ellipsis;
  }

  .el-table td {
    padding: 8px 0;
  }

  .el-table th {
    padding: 11px 0;
  }
}

// 顶部加载条样式
body #nprogress .bar {
	background: #fff;
	// height: 3px;
	// border-radius: 50%;
}

body #nprogress .peg {
	box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}